.outer-container {
    height: 50px;
    width: 100%;
    background-color: #f5f7f7;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    position: sticky;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;

    .icon-container {
        background-color: rgba(255,255,255,0.9);
        width: 50px;
        height: 30px;
        display: flex;
        place-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;

        .icon {
            width: 24px;
            height: 24px;
        }
    }
}